# ~/.config/systemd/user/rclone-onedrive.service
[Unit]
Description=rclone mount onedrive
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount onedrive: %h/OneDrive --vfs-cache-mode writes --rc --rc-addr 127.0.0.1:5573
ExecStop=/bin/fusermount -u %h/OneDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
